<style>
    .comment {
        color: grey;
    }

    td:nth-child(2n+5),
    th:nth-child(2n+5) {
        border-left: 4px solid black;
    }
</style>
<div *ngIf="!(testComparerService.parsedTestRun.length > 0)" class="text-center">
    <h1>Nothing to compare ;(</h1>
</div>
<table class="table table-hover table-bordered" *ngIf="testComparerService.parsedTestRun.length > 0">
    <tr id="tcName" class="text-center">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Test Cycle Name</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.testCycleName}}</th>
    </tr>
    <tr id="trName">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Test Run Name</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.testRunName}}</th>
    </tr>
    <tr id="trComment" class="text-justify comment">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Test Run Comment</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.comment}}</th>
    </tr>
    <tr id="trSuccess">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Successed</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.successed}}</th>
    </tr>
    <tr id="trFailures">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Failured</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.failired}}</th>
    </tr>
    <tr id="trOther">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Other</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.other}}</th>
    </tr>
    <tr id="trTotal">
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Total</th>
        <th colspan="2" *ngFor="#parsedTestRun of testComparerService.parsedTestRun; #i = index"> {{parsedTestRun.total}}</th>
    </tr>

    <!--header-->
    <tr>
        <th>#</th>
        <th>Method Namespace</th>
        <th>Method Signature</th>
        <template ng-for #parsedTestRun [ng-for-of]=testComparerService.parsedTestRun>
            <th>
                Result</th>
            <th>Time</th>
        </template>
    </tr>
    <!--/header-->

    <tbody>
        <tr *ngFor="#parsedTestMethodRow of testComparerService.parsedTestMethodRows; #i = index" class="{{ parsedTestMethodRow | parsedTestMethodRowFlag }}">
            <th scope="row">{{i+1}}</th>
            <td>{{parsedTestMethodRow.testMethod.ClassName}}</td>
            <td>{{parsedTestMethodRow.testMethod | methodFullName}}</td>
            <template ng-for #resultOfMethod [ng-for-of]=parsedTestMethodRow.resultsOfMethod>
                <td>{{resultOfMethod.result | methodResult }}</td>
                <td id="belongToTestRunWithId{{resultOfMethod.belongToTestRunWithId}}">{{resultOfMethod.duration}}</td>
            </template>
        </tr>
    </tbody>
</table>