<table class="table table-hover table-bordered">
    <tr>
        <th>Show Method Namespace</th>
        <th>Show Time</th>
        <th>Show Test Cycle Name</th>
        <th>Show Test Run Name</th>
        <th>Show Test run comments</th>
        <th>Show Test Run summary</th>
    </tr>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                <input type="checkbox" />
            </td>
            <td>
                Successed
                <input type="checkbox" />
                <br/> Failures
                <input type="checkbox" />
                <br/> Other
                <input type="checkbox" />
                <br/> Total
                <input type="checkbox" />
            </td>
        </tr>
    </tbody>
</table>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
    </span>
</div>