<div class="col-md-6 col-md-offset-3" id="registerPanel">
	<div *ng-if="!isSuccess">
		<h1>Register</h1>
		<div class="alert alert-danger" *ng-if="errorlist.length > 0">
			<ul>
				<li *ng-for="#error of errorlist">{{ error }}</li>
			</ul>
		</div>
		<form (ng-submit)="register()">
			<div class="form-group">
				<label>Email address</label>
				<input [(ng-model)]="registerForm.email" type="email" class="form-control" placeholder="Email" required>
			</div>
			<div class="form-group">
				<label>Repeat your Email address</label>
				<input [(ng-model)]="registerForm.remail" type="email" class="form-control" placeholder="Re-Email" (keyup)="onKeyUp($event)"
				required>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input [(ng-model)]="registerForm.password" type="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<label>Repeat your Password</label>
				<input [(ng-model)]="registerForm.repassword" type="password" class="form-control" placeholder="Re-Password"
				(keyup)="onKeyUp($event)">
			</div>
			<button type="submit" class="btn btn-default" [disabled]="registerForm.isSubmitEnable">Register</button>
		</form>
	</div>
	<div *ng-if="isSuccess" class="alert alert-success" role="alert">Success. You have been register with success</div>
</div>