<upload></upload>
<br>
<div class="col-md-6 col-md-offset-3">
    <div *ng-if="!isSuccess">
        <h1>add test cycle</h1>
        <div class="alert alert-danger" *ng-if="errorlist.length > 0">
            <ul>
                <li *ng-for="#error of errorlist">{{ error }}</li>
            </ul>
        </div>
        <form (ng-submit)="upload()"  id="uploadTestCycleForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" [(ng-model)]="name" class="form-control" required>
                </input>
            </div>
            <div class="form-group">
                <label for="Comment">Comment</label>
                <textarea rows="4" cols="50" id="Comment" [(ng-model)]="comment" class="form-control">
                </textarea>
            </div>
            <div *ng-if="isUserLoggedIn()"  class="form-group">
                <label for="isApproved">Is approved</label>
                <input type="checkbox" id="isApproved" [(ng-model)]="isApproved" class="form-control">
                </input>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div *ng-if="isSuccess" class="alert alert-success" role="alert">Success. You uploaded Test Cycle !</div>
</div>