<upload></upload>
<br>
<div class="col-md-6 col-md-offset-3">
    <div *ng-if="!isSuccess">
        <h1>Upload xml</h1>
        <div class="alert alert-danger" *ng-if="errorlist.length > 0">
            <ul>
                <li *ng-for="#error of errorlist">{{ error }}</li>
            </ul>
        </div>
        <form (ng-submit)="upload()" enctype="multipart/form-data" id="uploadXMLForm">
            <div class="form-group">
                <label for="testCycleId">Test Cycle Id</label>
                <select id="testCycleId" [(ng-model)]="testCycleId" class="form-control">
                    <option *ng-for="#testCycle of testCycleSelectOptions" value="{{testCycle.id}}">{{testCycle.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="desc">Comment</label>
                <textarea rows="4" cols="50" id="desc" [(ng-model)]="comment" class="form-control">
                </textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Xml test out file<strong>*</strong></label>
                <input type="file" class="form-control" id="exampleInputFile" accept=".xml" (change)="getFileFromEvent($event)" required>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div *ng-if="isSuccess" class="alert alert-success" role="alert">Success. You uploaded xml !</div>
</div>