<div class="row">
    <div class="col-md-12">
        <h2>Config</h2>
        <config></config>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <h2>Adding new Test Run</h2>
        <select-test-run class="text-center" [testComparerService]=testComparerService></select-test-run>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <h2>Compared Test Runs</h2>
        <CompareGrid [testComparerService]=testComparerService [config]=config></CompareGrid>
    </div>
</div>